h1 {
    text-align: center;
    color: #006699;
    margin: 5%;
}

span {
    color: #006699;
    display: flex;
    justify-content: center;
    margin: 1%;
    text-align: center;
}

button {
    text-align: center;
    color: #006699;
}

input {
    width: 120px;
    height: 15px;
}