h1 {
    text-align: center;
    color: #006699;
    margin: 5%;
}

h2 {
    text-align: center;
    color: #006699;
}

.list {
    color: #006699;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactlink {
    color: #006699;
    text-decoration: none;
}

.contactlink:hover {
    text-decoration: underline;
}